/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Content:
    ====== $ -  SASS: Variables ===============
    ($01)   Variables > Media-Threshold
    ($02)   Variables > Theme-Colors
    ($03)   Variables > Selector-Colors
    ($04)   Variables > Menu
    ($05)   Variables > Form-Colors
    ($06)   Variables > Font-Colors
    ($07)   Variables > Shadows
    ($08)   Variables > Font-Sizes
    ($09)   Variables > Preloader

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*=============================== $ -  SASS: Variables ==============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*===================================================================================*/
/* ($01) Variables > Media-Threshold                                                 */
/*===================================================================================*/
/*===================================================================================*/
/* ($02) Variables > Theme-Colors                                                    */
/*===================================================================================*/
/* default */
/*===================================================================================*/
/* ($03) Variables > Selector-Colors                                                 */
/*===================================================================================*/
/*===================================================================================*/
/* ($04) Variables > Menu                                                            */
/*===================================================================================*/
/*===================================================================================*/
/* ($05) Variables > Form-Colors                                                     */
/*===================================================================================*/
/*===================================================================================*/
/* ($06) Variables > Font-Colors                                                     */
/*===================================================================================*/
/*===================================================================================*/
/* ($07) Variables > Shadows                                                         */
/*===================================================================================*/
/*===================================================================================*/
/* ($08) Variables > Font-Sizes                                                      */
/*===================================================================================*/
a {
  text-decoration: none; }

h1 {
  margin: 5px 0;
  font-family: komikax;
  color: #00B800;
  text-shadow: 1px 1px 2px #000000;
  font-weight: lighter; }

h2 {
  margin: 5px 0;
  font-size: 18pt;
  font-family: komikax;
  color: #00B800;
  text-shadow: 1px 1px 2px #000000;
  font-weight: lighter; }

h3 {
  margin: 5px 0;
  font-size: 16pt;
  font-family: komikax;
  color: #00B800;
  text-shadow: 1px 1px 2px #000000;
  font-weight: lighter; }

button {
  background: #2B2B2B;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 35px;
  color: #FFFFFF; }

.navigationPath {
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 10px;
  border-radius: 10px;
  background: #2B2B2B;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .navigationPath a {
    text-decoration: none; }
  .navigationPath span {
    color: #FFFFFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .navigationPath span:hover {
    color: #FF892E;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .navigationPath i {
    font-style: normal;
    margin: 0px 5px;
    color: #FF8C00; }

.homeNewsAndStats div {
  border: 2px ridge #FF8C00;
  width: 300px;
  height: 230px;
  padding: 5px;
  border-radius: 10px;
  background: rgba(255, 165, 0, 0.3);
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.homeNewsAndStats div:nth-child(1) {
  float: left; }
.homeNewsAndStats div:nth-child(2) {
  float: right; }

.bottlecapSingleContainer {
  position: relative; }
  .bottlecapSingleContainer table.capDisplay {
    background: #333333;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    height: 203px;
    border-spacing: 3px;
    border-collapse: separate; }
    .bottlecapSingleContainer table.capDisplay tr:nth-child(1) td {
      background: #FF8C00;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      border-radius: 10px; }
    .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(1) {
      width: 140px;
      position: relative; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(1) img:nth-child(1) {
        width: 140px;
        border-radius: 10px; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(1) img:nth-child(2) {
        position: absolute;
        bottom: 0;
        left: 0; }
    .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(2) {
      background: #FFFFFF;
      border-radius: 10px 0 0 10px;
      width: 150px; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(2) img:nth-child(1) {
        border-radius: 10px 0 0 10px;
        max-height: 100px;
        max-width: 150px;
        display: block; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(2) img:nth-child(2) {
        margin-top: 5px;
        max-height: 30px; }
    @media only screen and (max-width: 700px) {
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(3) {
        background: #FFFFFF;
        border-radius: 0 10px 10px 0; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(4) {
        display: none; } }
    @media only screen and (min-width: 700px) {
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(3) {
        background: #FFFFFF; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(4) {
        background: #FFFFFF;
        border-radius: 0 10px 10px 0; } }
    .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(5) {
      background: #FFDFC7;
      border-radius: 10px;
      width: 120px; }
@keyframes overlayFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .bottlecapSingleContainer .additionalInformationContainer {
    position: absolute;
    display: none;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 203px;
    width: 100%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px; }
    .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay {
      position: absolute;
      top: 15px;
      left: 155px;
      right: 10px;
      margin-top: 28px;
      background: rgba(255, 255, 255, 0.9);
      height: 150px;
      border-radius: 10px;
      text-align: left;
      overflow: hidden; }
      .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData {
        background: transparent;
        border-spacing: 0;
        border-collapse: collapse;
        height: 100%; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(1),
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(3) {
          text-align: right;
          color: #696969;
          border-right: none;
          padding-right: 0; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(2),
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(4) {
          text-align: left;
          padding-left: 4px;
          padding-right: 10px;
          color: #000000;
          border-right: 1px solid gray; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(1) {
          width: 0px;
          border-right: none; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(2),
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(4) {
          text-align: right;
          color: #696969;
          border-right: none;
          padding-right: 0; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(3),
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(5) {
          text-align: left;
          padding-left: 4px;
          padding-right: 10px;
          color: #000000;
          border-right: 1px solid gray; }
      .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay .close {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 35px;
        height: 150px;
        border-radius: 0 10px 10px 0;
        background: #2B2B2B;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        line-height: 35px;
        color: #FFFFFF;
        font-size: 13pt;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay .close:hover {
        background: #FF892E;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  .bottlecapSingleContainer .additionalInformationContainer:target {
    display: block;
    animation: overlayFadeIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1; }

.navigationLink {
  text-decoration: none;
  color: #FF4500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.navigationLink:hover {
  color: #FF8C00;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.regionButtons {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  color: #000000;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .regionButtons img {
    width: 300px;
    margin: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .regionButtons div {
    position: absolute;
    top: 5px;
    left: 105px;
    width: 100px;
    background: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

.regionButtons:hover {
  filter: drop-shadow(3px 3px 3px black);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .regionButtons:hover img {
    width: 306px;
    margin: 2px;
    margin-top: 3.8px;
    margin-bottom: 3.8px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .regionButtons:hover div {
    left: 110px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.countryButton div {
  border-color: #DB0000; }

.continentButton div {
  border-color: #FFA500; }

.federalButton div {
  border-color: #32CD32; }

.setsAndA2ZButtons div {
  border-color: #42A1FF; }

.tradeButton div {
  border-color: #1E90FF; }

.bottlecapColorSchemeContainer {
  position: relative;
  width: 100px;
  height: 100px; }
  .bottlecapColorSchemeContainer div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 100%; }
  .bottlecapColorSchemeContainer div:nth-child(1) {
    margin: 0px;
    top: 0.5px; }
    .bottlecapColorSchemeContainer div:nth-child(1) img {
      width: 100%; }
    .bottlecapColorSchemeContainer div:nth-child(1) img#GLD {
      filter: drop-shadow(0px 3px 5px black) saturate(0.5) hue-rotate(53deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#SLV {
      filter: drop-shadow(0px 3px 5px black) saturate(0); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#WHT {
      filter: drop-shadow(0px 3px 5px black) brightness(2.66) saturate(0) hue-rotate(172deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#BLK {
      filter: drop-shadow(0px 3px 5px black) brightness(0.2) saturate(0) hue-rotate(172deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#GRY {
      filter: drop-shadow(0px 3px 5px black) brightness(0.5) saturate(0) hue-rotate(172deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#RED {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(0deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#BLU {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(225deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#GRN {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(145deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#YLW {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(65deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#ORA {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(50deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#PUR {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(285deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#BRN {
      filter: drop-shadow(0px 3px 5px black) saturate(0.5) hue-rotate(35deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#BRZ {
      filter: drop-shadow(0px 3px 5px black) brightness(1.5) saturate(0.7) hue-rotate(35deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#CYA {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(180deg); }
  .bottlecapColorSchemeContainer div:nth-child(2) {
    margin: 13px; }
  .bottlecapColorSchemeContainer div:nth-child(3) {
    margin: 13px;
    line-height: 70px;
    font-size: 13pt;
    font-family: komikax;
    text-align: center;
    text-shadow: 0px 0px 3px #000000; }
  .bottlecapColorSchemeContainer div:nth-child(4) {
    margin: 1px;
    top: 0.5px;
    background-image: url(../content/twist.png);
    background-size: 100%; }

.letterSelection {
  background: #2b2b2b;
  display: inline-block;
  padding: 6px 3px;
  border-radius: 5px; }
  .letterSelection span {
    background: #FFFFFF;
    font-size: 13pt;
    padding: 1px 4px;
    margin: 0 2px;
    border-radius: 3px;
    color: #000000;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .letterSelection span:hover {
    background: #FF892E;
    border-radius: 25%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .letterSelection #selected {
    background: #FFC89E;
    border-radius: 25%; }

.pager {
  font-size: 16pt;
  text-shadow: 1px 1px 2px #000000; }
  .pager span {
    color: #696969;
    margin: 0 3px; }
  .pager a span {
    color: #32CD32;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .pager a:hover span {
    color: #FF4500;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }

.breweryListTable {
  background: #2B2B2B;
  border-spacing: 3px;
  border-collapse: separate;
  border-radius: 10px; }
  .breweryListTable tr td {
    background: #FFFFFF;
    padding: 3px; }
  .breweryListTable tr td:nth-child(1) {
    border-radius: 10px 0 0 10px;
    text-align: center; }
    .breweryListTable tr td:nth-child(1) img {
      max-width: 150px;
      max-height: 100px; }
  .breweryListTable tr td:nth-child(2) i {
    font-style: normal;
    color: #696969; }
  .breweryListTable tr td:nth-child(3) {
    border-radius: 0 10px 10px 0; }
    .breweryListTable tr td:nth-child(3) i {
      font-style: normal;
      color: #696969; }
  .breweryListTable tr td:nth-child(4) {
    background: #FFDFC7;
    border-radius: 10px; }

.bottlecapRowContainer {
  position: relative; }
  .bottlecapRowContainer table.capDisplay {
    background: #333333;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    border-spacing: 3px;
    border-collapse: separate; }
    .bottlecapRowContainer table.capDisplay tr {
      height: 200px; }
      .bottlecapRowContainer table.capDisplay tr td:nth-child(1) {
        width: 140px;
        position: relative; }
        .bottlecapRowContainer table.capDisplay tr td:nth-child(1) img:nth-child(1) {
          width: 140px;
          border-radius: 10px; }
        .bottlecapRowContainer table.capDisplay tr td:nth-child(1) img:nth-child(2) {
          position: absolute;
          bottom: 0;
          left: 0; }
      .bottlecapRowContainer table.capDisplay tr td:nth-child(2) {
        background: #FFFFFF;
        border-radius: 10px 0 0 10px;
        width: 150px; }
        .bottlecapRowContainer table.capDisplay tr td:nth-child(2) img:nth-child(1) {
          border-radius: 10px 0 0 10px;
          max-height: 100px;
          max-width: 150px;
          display: block; }
        .bottlecapRowContainer table.capDisplay tr td:nth-child(2) img:nth-child(2) {
          margin-top: 5px;
          max-height: 30px; }
      @media only screen and (max-width: 700px) {
        .bottlecapRowContainer table.capDisplay tr td:nth-child(3) {
          background: #FFFFFF;
          border-radius: 0 10px 10px 0; }
        .bottlecapRowContainer table.capDisplay tr td:nth-child(4) {
          display: none; } }
      @media only screen and (min-width: 700px) {
        .bottlecapRowContainer table.capDisplay tr td:nth-child(3) {
          background: #FFFFFF; }
        .bottlecapRowContainer table.capDisplay tr td:nth-child(4) {
          background: #FFFFFF;
          border-radius: 0 10px 10px 0; } }
      .bottlecapRowContainer table.capDisplay tr td:nth-child(5) {
        background: #FFDFC7;
        border-radius: 10px;
        width: 120px; }
    .bottlecapRowContainer table.capDisplay tr:nth-child(1) {
      height: 30px; }
      .bottlecapRowContainer table.capDisplay tr:nth-child(1) td {
        background: #FF8C00;
        font-weight: bold;
        color: #FFFFFF;
        text-align: center;
        border-radius: 10px; }
@keyframes overlayFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer {
    position: absolute;
    display: none;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    width: 100%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px; }
    .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay {
      position: absolute;
      top: 0px;
      left: 155px;
      right: 10px;
      margin-top: 28px;
      background: rgba(255, 255, 255, 0.9);
      height: 150px;
      border-radius: 10px;
      text-align: left;
      overflow: hidden; }
      .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData {
        background: transparent;
        border-spacing: 0;
        border-collapse: collapse;
        height: 100%; }
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(1),
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(3) {
          text-align: right;
          color: #696969;
          border-right: none;
          padding-right: 0; }
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(2),
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(4) {
          text-align: left;
          padding-left: 4px;
          padding-right: 10px;
          color: #000000;
          border-right: 1px solid gray; }
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(1) {
          width: 0px;
          border-right: none; }
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(2),
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(4) {
          text-align: right;
          color: #696969;
          border-right: none;
          padding-right: 0; }
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(3),
        .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(5) {
          text-align: left;
          padding-left: 4px;
          padding-right: 10px;
          color: #000000;
          border-right: 1px solid gray; }
      .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay .close {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 35px;
        height: 150px;
        border-radius: 0 10px 10px 0;
        background: #2B2B2B;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        line-height: 35px;
        color: #FFFFFF;
        font-size: 13pt;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      .bottlecapRowContainer .infoOverlays .additionalInformationContainer .additionalInformationOverlay .close:hover {
        background: #FF892E;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:target {
    display: block;
    animation: overlayFadeIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(1) {
    top: 36px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(2) {
    top: 239px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(3) {
    top: 442px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(4) {
    top: 645px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(5) {
    top: 848px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(6) {
    top: 1051px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(7) {
    top: 1254px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(8) {
    top: 1457px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(9) {
    top: 1660px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(10) {
    top: 1863px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(11) {
    top: 2066px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(12) {
    top: 2269px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(13) {
    top: 2472px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(14) {
    top: 2675px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(15) {
    top: 2878px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(16) {
    top: 3081px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(17) {
    top: 3284px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(18) {
    top: 3487px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(19) {
    top: 3690px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(20) {
    top: 3893px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(21) {
    top: 4096px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(22) {
    top: 4299px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(23) {
    top: 4502px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(24) {
    top: 4705px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(25) {
    top: 4908px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(26) {
    top: 5111px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(27) {
    top: 5314px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(28) {
    top: 5517px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(29) {
    top: 5720px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(30) {
    top: 5923px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(31) {
    top: 6126px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(32) {
    top: 6329px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(33) {
    top: 6532px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(34) {
    top: 6735px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(35) {
    top: 6938px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(36) {
    top: 7141px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(37) {
    top: 7344px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(38) {
    top: 7547px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(39) {
    top: 7750px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(40) {
    top: 7953px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(41) {
    top: 8156px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(42) {
    top: 8359px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(43) {
    top: 8562px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(44) {
    top: 8765px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(45) {
    top: 8968px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(46) {
    top: 9171px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(47) {
    top: 9374px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(48) {
    top: 9577px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(49) {
    top: 9780px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(50) {
    top: 9983px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(51) {
    top: 10186px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(52) {
    top: 10389px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(53) {
    top: 10592px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(54) {
    top: 10795px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(55) {
    top: 10998px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(56) {
    top: 11201px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(57) {
    top: 11404px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(58) {
    top: 11607px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(59) {
    top: 11810px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(60) {
    top: 12013px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(61) {
    top: 12216px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(62) {
    top: 12419px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(63) {
    top: 12622px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(64) {
    top: 12825px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(65) {
    top: 13028px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(66) {
    top: 13231px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(67) {
    top: 13434px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(68) {
    top: 13637px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(69) {
    top: 13840px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(70) {
    top: 14043px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(71) {
    top: 14246px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(72) {
    top: 14449px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(73) {
    top: 14652px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(74) {
    top: 14855px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(75) {
    top: 15058px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(76) {
    top: 15261px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(77) {
    top: 15464px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(78) {
    top: 15667px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(79) {
    top: 15870px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(80) {
    top: 16073px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(81) {
    top: 16276px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(82) {
    top: 16479px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(83) {
    top: 16682px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(84) {
    top: 16885px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(85) {
    top: 17088px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(86) {
    top: 17291px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(87) {
    top: 17494px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(88) {
    top: 17697px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(89) {
    top: 17900px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(90) {
    top: 18103px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(91) {
    top: 18306px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(92) {
    top: 18509px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(93) {
    top: 18712px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(94) {
    top: 18915px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(95) {
    top: 19118px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(96) {
    top: 19321px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(97) {
    top: 19524px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(98) {
    top: 19727px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(99) {
    top: 19930px; }
  .bottlecapRowContainer .infoOverlays .additionalInformationContainer:nth-child(100) {
    top: 20133px; }

/*# sourceMappingURL=style.css.map */
