/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Content:
    ====== $ -  SASS: Variables ===============
    ($01)   Variables > Media-Threshold
    ($02)   Variables > Theme-Colors
    ($03)   Variables > Selector-Colors
    ($04)   Variables > Menu
    ($05)   Variables > Form-Colors
    ($06)   Variables > Font-Colors
    ($07)   Variables > Shadows
    ($08)   Variables > Font-Sizes
    ($09)   Variables > Preloader

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*=============================== $ -  SASS: Variables ==============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*===================================================================================*/
/* ($01) Variables > Media-Threshold                                                 */
/*===================================================================================*/
/*===================================================================================*/
/* ($02) Variables > Theme-Colors                                                    */
/*===================================================================================*/
/* default */
/*===================================================================================*/
/* ($03) Variables > Selector-Colors                                                 */
/*===================================================================================*/
/*===================================================================================*/
/* ($04) Variables > Menu                                                            */
/*===================================================================================*/
/*===================================================================================*/
/* ($05) Variables > Form-Colors                                                     */
/*===================================================================================*/
/*===================================================================================*/
/* ($06) Variables > Font-Colors                                                     */
/*===================================================================================*/
/*===================================================================================*/
/* ($07) Variables > Shadows                                                         */
/*===================================================================================*/
/*===================================================================================*/
/* ($08) Variables > Font-Sizes                                                      */
/*===================================================================================*/
h1 {
  margin: 5px 0;
  font-family: komikax;
  color: #00B800;
  text-shadow: 1px 1px 2px #000000;
  font-weight: lighter; }

h2 {
  margin: 5px 0;
  font-size: 18pt;
  font-family: komikax;
  color: #00B800;
  text-shadow: 1px 1px 2px #000000;
  font-weight: lighter; }

h3 {
  margin: 5px 0;
  font-size: 16pt;
  font-family: komikax;
  color: #00B800;
  text-shadow: 1px 1px 2px #000000;
  font-weight: lighter; }

.navigationPath {
  margin-top: 5px;
  padding-top: 0px;
  padding-bottom: 1px;
  padding-left: 10px;
  border-radius: 10px;
  background: #2B2B2B;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .navigationPath a {
    text-decoration: none; }
  .navigationPath span {
    color: #FFFFFF;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .navigationPath span:hover {
    color: #FF892E;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .navigationPath i {
    font-style: normal;
    margin: 0px 5px;
    color: #FF8C00; }

.homeNewsAndStats div {
  border: 2px ridge #FF8C00;
  width: 300px;
  height: 230px;
  padding: 5px;
  border-radius: 10px;
  background: rgba(255, 165, 0, 0.3);
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
.homeNewsAndStats div:nth-child(1) {
  float: left; }
.homeNewsAndStats div:nth-child(2) {
  float: right; }

.bottlecapSingleContainer {
  position: relative; }
  .bottlecapSingleContainer table.capDisplay {
    background: #333333;
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
    height: 203px;
    border-spacing: 3px;
    border-collapse: separate; }
    .bottlecapSingleContainer table.capDisplay tr:nth-child(1) td {
      background: #FF8C00;
      font-weight: bold;
      color: #FFFFFF;
      text-align: center;
      border-radius: 10px; }
    .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(1) {
      width: 140px;
      position: relative; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(1) img:nth-child(1) {
        width: 140px;
        border-radius: 10px; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(1) img:nth-child(2) {
        position: absolute;
        bottom: 0;
        left: 0; }
    .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(2) {
      background: #FFFFFF;
      border-radius: 10px 0 0 10px;
      width: 150px; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(2) img:nth-child(1) {
        border-radius: 10px 0 0 10px;
        max-height: 100px;
        max-width: 150px;
        display: block; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(2) img:nth-child(2) {
        margin-top: 5px;
        max-height: 30px; }
    @media only screen and (max-width: 700px) {
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(3) {
        background: #FFFFFF;
        border-radius: 0 10px 10px 0; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(4) {
        display: none; } }
    @media only screen and (min-width: 700px) {
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(3) {
        background: #FFFFFF; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(4) {
        background: #FFFFFF;
        border-radius: 0 10px 10px 0; } }
    .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(5) {
      background: #FFDFC7;
      border-radius: 10px;
      width: 120px; }
      .bottlecapSingleContainer table.capDisplay tr:nth-child(2) td:nth-child(5) button {
        background: #2B2B2B;
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 30px;
        color: #FFFFFF; }
@keyframes overlayFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .bottlecapSingleContainer .additionalInformationContainer {
    position: absolute;
    display: none;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 203px;
    width: 100%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px; }
    .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay {
      position: absolute;
      top: 15px;
      left: 155px;
      right: 10px;
      margin-top: 28px;
      background: rgba(255, 255, 255, 0.9);
      height: 150px;
      border-radius: 10px;
      text-align: left;
      overflow: hidden; }
      .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData {
        background: transparent;
        border-spacing: 0;
        border-collapse: collapse;
        height: 100%; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(1),
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(3) {
          text-align: right;
          color: #696969;
          border-right: none;
          padding-right: 0; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(2),
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr td:nth-child(4) {
          text-align: left;
          padding-left: 4px;
          padding-right: 10px;
          color: #000000;
          border-right: 1px solid gray; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(1) {
          width: 0px;
          border-right: none; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(2),
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(4) {
          text-align: right;
          color: #696969;
          border-right: none;
          padding-right: 0; }
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(3),
        .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay table.capData tr:nth-child(1) td:nth-child(5) {
          text-align: left;
          padding-left: 4px;
          padding-right: 10px;
          color: #000000;
          border-right: 1px solid gray; }
      .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay .close {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 35px;
        height: 150px;
        border-radius: 0 10px 10px 0;
        background: #2B2B2B;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        text-align: center;
        line-height: 35px;
        color: #FFFFFF;
        font-size: 13pt;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        -ms-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out; }
      .bottlecapSingleContainer .additionalInformationContainer .additionalInformationOverlay .close:hover {
        background: #FF892E;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
  .bottlecapSingleContainer .additionalInformationContainer:target {
    display: block;
    animation: overlayFadeIn;
    animation-duration: 0.2s;
    animation-iteration-count: 1; }

.navigationLink {
  text-decoration: none;
  color: #FF4500;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.navigationLink:hover {
  color: #FF8C00;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

.regionButtons {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 300px;
  color: #000000;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  .regionButtons img {
    width: 300px;
    margin: 5px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .regionButtons div {
    position: absolute;
    top: 5px;
    left: 105px;
    width: 100px;
    background: #FFFFFF;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

.regionButtons:hover {
  filter: drop-shadow(3px 3px 3px black);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  .regionButtons:hover img {
    width: 306px;
    margin: 2px;
    margin-top: 3.8px;
    margin-bottom: 3.8px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .regionButtons:hover div {
    left: 110px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

.countryButton div {
  border-color: #DB0000; }

.continentButton div {
  border-color: #FFA500; }

.federalButton div {
  border-color: #32CD32; }

.tradeButton div {
  border-color: #1E90FF; }

.bottlecapColorSchemeContainer {
  position: relative;
  width: 100px;
  height: 100px; }
  .bottlecapColorSchemeContainer div {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-radius: 100%; }
  .bottlecapColorSchemeContainer div:nth-child(1) {
    margin: 0px;
    top: 0.5px; }
    .bottlecapColorSchemeContainer div:nth-child(1) img {
      width: 100%; }
    .bottlecapColorSchemeContainer div:nth-child(1) img#GLD {
      filter: drop-shadow(0px 3px 5px black) saturate(0.5) hue-rotate(53deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#SLV {
      filter: drop-shadow(0px 3px 5px black) saturate(0); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#WHT {
      filter: drop-shadow(0px 3px 5px black) brightness(2.66) saturate(0) hue-rotate(172deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#BLK {
      filter: drop-shadow(0px 3px 5px black) brightness(0.2) saturate(0) hue-rotate(172deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#GRY {
      filter: drop-shadow(0px 3px 5px black) brightness(0.5) saturate(0) hue-rotate(172deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#RED {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(0deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#BLU {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(225deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#GRN {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(145deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#YLW {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(65deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#ORA {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(50deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#PUR {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(285deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#BRN {
      filter: drop-shadow(0px 3px 5px black) saturate(0.5) hue-rotate(35deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#BRZ {
      filter: drop-shadow(0px 3px 5px black) brightness(1.5) saturate(0.7) hue-rotate(35deg); }
    .bottlecapColorSchemeContainer div:nth-child(1) img#CYA {
      filter: drop-shadow(0px 3px 5px black) hue-rotate(180deg); }
  .bottlecapColorSchemeContainer div:nth-child(2) {
    margin: 13px; }
  .bottlecapColorSchemeContainer div:nth-child(3) {
    margin: 13px;
    line-height: 70px;
    font-size: 13pt;
    font-family: komikax;
    text-align: center; }
  .bottlecapColorSchemeContainer div:nth-child(4) {
    margin: 1px;
    top: 0.5px;
    background-image: url(../content/twist.png);
    background-size: 100%; }

/*# sourceMappingURL=style.css.map */
