@import 'variables';
@import 'mixins';

a{
    text-decoration: none;
}

h1{
    margin: 5px 0;
    font-family: komikax;
    color: #00B800;
    text-shadow: 1px 1px 2px #000000;
    font-weight: lighter;
}

h2{
    margin: 5px 0;
    font-size: 18pt;
    font-family: komikax;
    color: #00B800;
    text-shadow: 1px 1px 2px #000000;
    font-weight: lighter;
}

h3{
    margin: 5px 0;
    font-size: 16pt;
    font-family: komikax;
    color: #00B800;
    text-shadow: 1px 1px 2px #000000;
    font-weight: lighter;
}

button{
    background: #2B2B2B;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 35px;
    color: #FFFFFF;
}


.navigationPath{
    margin-top: 5px;
    padding-top: 0px;
    padding-bottom: 1px;
    padding-left: 10px;
    border-radius: 10px;
    background: $theme-headerbackground;

    @include box-sizing(border-box);

    a{
        text-decoration: none;
    }

    span{
        color: #FFFFFF;
        @include ease(0.5s);
    }

    span:hover{
        color: $theme-medium;
        @include ease(0.2s);
    }

    i{
        font-style: normal;
        margin: 0px 5px;
        color: $theme-dark;
    }
}


.homeNewsAndStats{
    div{
        border: 2px ridge $theme-dark;
        width: 300px;
        height: 230px;
        padding: 5px;
        border-radius: 10px;
        background: rgba(255, 165, 0, 0.3);
        margin-bottom: 10px;

        @include box-sizing(border-box);
    }

    div:nth-child(1){
        float: left;
    }

    div:nth-child(2){
        float: right;
    }

}

.bottlecapSingleContainer{
       position: relative;

    table.capDisplay{
        background: #333333;
        border-radius: 10px;
        width: 100%;
        max-width: 900px;
        height: 203px;

        border-spacing: 3px;
        border-collapse: separate;

        tr:nth-child(1)
        {
            td{
                background: $theme-dark;
                font-weight: bold;
                color: #FFFFFF;
                text-align: center;
                border-radius: 10px;
            }
        }

        tr:nth-child(2)
        {
            td:nth-child(1){
                width: 140px;
                position: relative;

                img:nth-child(1){
                    width: 140px;
                    border-radius: 10px;
                }

                img:nth-child(2){
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            td:nth-child(2){

                background: #FFFFFF;
                border-radius: 10px 0 0 10px;
                width: 150px;

                img:nth-child(1){
                    border-radius: 10px 0 0 10px;
                    max-height: 100px;
                    max-width: 150px;
                    display: block;
                }

                img:nth-child(2){
                    margin-top: 5px;
                    max-height: 30px;
                }
            }

            @media only screen and (max-width: 700px){
                td:nth-child(3){
                    background: #FFFFFF;
                    border-radius: 0 10px 10px 0;
                }

                td:nth-child(4){
                    display: none;
                }
            }

            @media only screen and (min-width: 700px){
                td:nth-child(3){
                    background: #FFFFFF;
                }

                td:nth-child(4){
                    background: #FFFFFF;
                    border-radius: 0 10px 10px 0;
                }
            }

            td:nth-child(5){
                background: $theme-brighter;
                border-radius: 10px;

                width: 120px;
            }
        }
    }

    @keyframes overlayFadeIn{
        0%{ opacity: 0; }
        100%{ opacity: 1; }
    }

    .additionalInformationContainer{
        position: absolute;
        display: none;

        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        height: 203px;

        width: 100%;
        max-width: 900px;

        background: rgba(0, 0, 0, 0.6);
        border-radius: 10px;


        .additionalInformationOverlay{
            position: absolute;

            top: 15px;
            left: 155px;
            right: 10px;
            margin-top: 28px;

            background: rgba(255, 255, 255, 0.9);
            height: 150px;
            border-radius: 10px;

            text-align: left;
            overflow: hidden;


            table.capData{
                background: transparent;
                border-spacing: 0;
                border-collapse: collapse;
                height: 100%;

                tr{
                    td:nth-child(1),
                    td:nth-child(3){
                        text-align: right;
                        color: #696969;
                        border-right: none;
                        padding-right: 0;
                    }

                    td:nth-child(2),
                    td:nth-child(4){
                        text-align: left;
                        padding-left: 4px;
                        padding-right: 10px;
                        color: #000000;
                        border-right: 1px solid gray;
                    }
                }

                tr:nth-child(1){
                    td:nth-child(1){
                        width: 0px;
                        border-right: none;
                    }

                    td:nth-child(2),
                    td:nth-child(4){
                        text-align: right;
                        color: #696969;
                        border-right: none;
                        padding-right: 0;
                    }

                    td:nth-child(3),
                    td:nth-child(5){
                        text-align: left;
                        padding-left: 4px;
                        padding-right: 10px;
                        color: #000000;
                        border-right: 1px solid gray;
                    }
                }




            }

            .close{
                position: absolute;

                right: 0px;
                top: 0px;

                width: 35px;
                height: 150px;

                border-radius: 0 10px 10px 0;
                background: #2B2B2B;

                writing-mode: vertical-rl;
                text-orientation: mixed;
                text-align: center;
                line-height: 35px;
                color: #FFFFFF;
                font-size: 13pt;

                @include ease(0.4s);
            }

            .close:hover{
                background: $theme-medium;
                @include ease(0.2s);
            }

        }


    }

    .additionalInformationContainer:target{
        display: block;

        animation: overlayFadeIn;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
    }
}


.navigationLink{
    text-decoration: none;
    color: $theme-darker;
    @include ease(0.3s);
}

.navigationLink:hover{
    color: $theme-dark;
    @include ease(0.1s);
}



.regionButtons{
    position: relative;
    display: inline-block;
    vertical-align:top;
    width: 300px;
    color: #000000;
    @include ease(0.4s);

    img{
        width: 300px;
        margin: 5px;
        @include ease(0.4s);
    }

    div{
        position: absolute;
        top: 5px;
        left: 105px;
        width: 100px;
        background: #FFFFFF;

        border-width: 3px;
        border-style: solid;
        border-radius: 20px;
        text-align: center;

        @include box-sizing(border-box);
        @include ease(0.4s);
    }
}

.regionButtons:hover{
    filter: drop-shadow(3px 3px 3px black);


    @include ease(0.2s);

    img{
        width: 306px;
        margin: 2px;
        margin-top: 3.8px;
        margin-bottom: 3.8px;

        @include ease(0.2s);
    }

    div{
        left: 110px;
        @include ease(0.2s);
    }

}

.countryButton{
    div{
        border-color: #DB0000;
    }
}

.continentButton{
    div{
        border-color: #FFA500;
    }
}

.federalButton{
    div{
        border-color: #32CD32;
    }
}

.setsAndA2ZButtons{
    div{
        border-color: #42A1FF;
    }
}

.tradeButton{
    div{
        border-color: #1E90FF;
    }
}


.bottlecapColorSchemeContainer{
    position: relative;
    width: 100px;
    height: 100px;


    div{
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;

        border-radius: 100%;
    }

    div:nth-child(1){
        margin: 0px;
        top: 0.5px;

        img{
            width: 100%;
        }

        img#GLD{
            filter: drop-shadow(0px 3px 5px black) saturate(0.50) hue-rotate(53deg);
        }

        img#SLV{
            filter: drop-shadow(0px 3px 5px black) saturate(0);
        }

        img#WHT{
            filter: drop-shadow(0px 3px 5px black) brightness(2.66) saturate(0) hue-rotate(172deg);
        }

        img#BLK{
            filter: drop-shadow(0px 3px 5px black) brightness(0.2) saturate(0) hue-rotate(172deg);
        }

        img#GRY{
            filter: drop-shadow(0px 3px 5px black) brightness(0.5) saturate(0) hue-rotate(172deg);
        }

        img#RED{
            filter: drop-shadow(0px 3px 5px black) hue-rotate(0deg);
        }

        img#BLU{
            filter: drop-shadow(0px 3px 5px black) hue-rotate(225deg);
        }

        img#GRN{
            filter: drop-shadow(0px 3px 5px black) hue-rotate(145deg);
        }

        img#YLW{
            filter: drop-shadow(0px 3px 5px black) hue-rotate(65deg);
        }

        img#ORA{
            filter: drop-shadow(0px 3px 5px black) hue-rotate(50deg);
        }

        img#PUR{
            filter: drop-shadow(0px 3px 5px black) hue-rotate(285deg);
        }

        img#BRN{
            filter: drop-shadow(0px 3px 5px black) saturate(0.5) hue-rotate(35deg);
        }

        img#BRZ{
            filter: drop-shadow(0px 3px 5px black) brightness(1.5) saturate(0.7) hue-rotate(35deg);
        }

        img#CYA{
            filter: drop-shadow(0px 3px 5px black) hue-rotate(180deg);
        }

    }

    div:nth-child(2){
        margin: 13px;
    }

    div:nth-child(3){
        margin: 13px;
        line-height: 70px;
        font-size: 13pt;
        font-family: komikax;
        text-align: center;
        text-shadow: 0px 0px 3px #000000;
    }

    div:nth-child(4){
        margin: 1px;
        top:0.5px;
        background-image: url(../content/twist.png);
        background-size: 100%;
    }
}


.letterSelection{
    background: #2b2b2b;
    display: inline-block;
    padding: 6px 3px;
    border-radius: 5px;

    span{
        background: #FFFFFF;
        font-size: 13pt;
        padding: 1px 4px;
        margin: 0 2px;
        border-radius: 3px;
        color: #000000;

        @include ease(0.5s);
    }

    span:hover{
        background: $theme-medium;
        border-radius: 25%;
        @include ease(0.1s);
    }

    #selected{
        background: $theme-bright;
        border-radius: 25%;
    }

}

.pager{
    font-size: 16pt;
    text-shadow: 1px 1px 2px #000000;

    span{
        color: #696969;
        margin: 0 3px;
    }

    a{
        span{
            color: #32CD32;
            @include ease(0.4s);
        }

    }

    a:hover{
        span{
            color: $theme-darker;
            @include ease(0.1s);
        }

    }

}

.breweryListTable{
    background: #2B2B2B;
    border-spacing: 3px;
    border-collapse: separate;
    border-radius: 10px;

    tr{
        td{
            background: #FFFFFF;
            padding: 3px;
        }

        td:nth-child(1){
            border-radius: 10px 0 0 10px;
            text-align: center;

            img{
                max-width: 150px;
                max-height: 100px;
            }
        }

        td:nth-child(2){
            i{
                font-style: normal;
                color: #696969;
            }
        }

        td:nth-child(3){
            border-radius: 0 10px 10px 0;

            i{
                font-style: normal;
                color: #696969;
            }
        }

        td:nth-child(4){
            background: $theme-brighter;
            border-radius: 10px;
        }

    }

}






.bottlecapRowContainer{
    position: relative;

    $rowHeight : 200px;
    $overlayHeight: 150px;

    table.capDisplay{
        background: #333333;
        border-radius: 10px;
        width: 100%;
        max-width: 900px;

        border-spacing: 3px;
        border-collapse: separate;

        tr
        {
            height: $rowHeight;

            td:nth-child(1){
                width: 140px;
                position: relative;

                img:nth-child(1){
                    width: 140px;
                    border-radius: 10px;
                }

                img:nth-child(2){
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            td:nth-child(2){

                background: #FFFFFF;
                border-radius: 10px 0 0 10px;
                width: 150px;

                img:nth-child(1){
                    border-radius: 10px 0 0 10px;
                    max-height: 100px;
                    max-width: 150px;
                    display: block;
                }

                img:nth-child(2){
                    margin-top: 5px;
                    max-height: 30px;
                }
            }

            @media only screen and (max-width: 700px){
                td:nth-child(3){
                    background: #FFFFFF;
                    border-radius: 0 10px 10px 0;
                }

                td:nth-child(4){
                    display: none;
                }
            }

            @media only screen and (min-width: 700px){
                td:nth-child(3){
                    background: #FFFFFF;
                }

                td:nth-child(4){
                    background: #FFFFFF;
                    border-radius: 0 10px 10px 0;
                }
            }

            td:nth-child(5){
                background: $theme-brighter;
                border-radius: 10px;

                width: 120px;
            }
        }

        tr:nth-child(1)
        {
            height: 30px;
            td{
                background: $theme-dark;
                font-weight: bold;
                color: #FFFFFF;
                text-align: center;
                border-radius: 10px;
            }
        }
    }

    @keyframes overlayFadeIn{
        0%{ opacity: 0; }
        100%{ opacity: 1; }
    }

    .infoOverlays{

        .additionalInformationContainer{

            position: absolute;
            display: none;

            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            height: $rowHeight;

            width: 100%;
            max-width: 900px;

            background: rgba(0, 0, 0, 0.6);
            border-radius: 10px;

            .additionalInformationOverlay{
                position: absolute;

                top: 0px;
                left: 155px;
                right: 10px;
                margin-top: 28px;

                background: rgba(255, 255, 255, 0.9);
                height: 150px;
                border-radius: 10px;

                text-align: left;
                overflow: hidden;


                table.capData{
                    background: transparent;
                    border-spacing: 0;
                    border-collapse: collapse;
                    height: 100%;

                    tr{
                        td:nth-child(1),
                        td:nth-child(3){
                            text-align: right;
                            color: #696969;
                            border-right: none;
                            padding-right: 0;
                        }

                        td:nth-child(2),
                        td:nth-child(4){
                            text-align: left;
                            padding-left: 4px;
                            padding-right: 10px;
                            color: #000000;
                            border-right: 1px solid gray;
                        }
                    }

                    tr:nth-child(1){
                        td:nth-child(1){
                            width: 0px;
                            border-right: none;
                        }

                        td:nth-child(2),
                        td:nth-child(4){
                            text-align: right;
                            color: #696969;
                            border-right: none;
                            padding-right: 0;
                        }

                        td:nth-child(3),
                        td:nth-child(5){
                            text-align: left;
                            padding-left: 4px;
                            padding-right: 10px;
                            color: #000000;
                            border-right: 1px solid gray;
                        }
                    }
                }

                .close{
                    position: absolute;

                    right: 0px;
                    top: 0px;

                    width: 35px;
                    height: $overlayHeight;

                    border-radius: 0 10px 10px 0;
                    background: #2B2B2B;

                    writing-mode: vertical-rl;
                    text-orientation: mixed;
                    text-align: center;
                    line-height: 35px;
                    color: #FFFFFF;
                    font-size: 13pt;

                    @include ease(0.4s);
                }

                .close:hover{
                    background: $theme-medium;
                    @include ease(0.2s);
                }
            }
        }

        .additionalInformationContainer:target{
            display: block;

            animation: overlayFadeIn;
            animation-duration: 0.2s;
            animation-iteration-count: 1;
        }

        @for $i from 1 through 100 {
            .additionalInformationContainer:nth-child(#{$i}){
                top: 36px + ($overlayHeight+53px) * ($i - 1);
            }
        }


    }
}

.setTileTable{
    background: #2b2b2b;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 70%;

    tr{
        td{
            border-radius: 10px;
        }

    }

    tr:nth-child(1){
        td{
            background: $theme-dark;
            color: #FFFFFF;
            text-align:center;
        }
    }

    tr:nth-child(2){
        td:nth-child(1){
            background: transparent;
            text-align:center;
            width: 160px;
            img{
                width:150px;
                border-radius: 10px;
            }

        }

        td:nth-child(2){
            background: #FFFFFF;
        }

        td:nth-child(3){
            background: $theme-brighter;
            width: 120px;
        }
    }



}
