/*
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////

    Content:
    ====== $ -  SASS: Variables ===============
    ($01)   Variables > Media-Threshold
    ($02)   Variables > Theme-Colors
    ($03)   Variables > Selector-Colors
    ($04)   Variables > Menu
    ($05)   Variables > Form-Colors
    ($06)   Variables > Font-Colors
    ($07)   Variables > Shadows
    ($08)   Variables > Font-Sizes
    ($09)   Variables > Preloader

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||
///////////////////////////////////////////////////////////////////////////////////////
*/

/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/
/*-------------------------------|||----------------|||------------------------------*/
/*=============================== $ -  SASS: Variables ==============================*/
/*-------------------------------|||----------------|||------------------------------*/
/*+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+*/

/*===================================================================================*/
/* ($01) Variables > Media-Threshold                                                 */
/*===================================================================================*/

$media-smalllargephone: 600px;
$media-tablet: 768px;
$media-desktop: 992px;


/*===================================================================================*/
/* ($02) Variables > Theme-Colors                                                    */
/*===================================================================================*/

/* default */
$theme-darker: #FF4500;
$theme-dark: #FF8C00;
$theme-medium: #FF892E;
$theme-bright: #FFC89E;
$theme-brighter: #FFDFC7;


$theme-headerbackground: #2B2B2B;
$theme-footerbackground: #2B2B2B;

$theme-mainfadeout: #d9d9d9;

$textbox-border: #777777;

/*===================================================================================*/
/* ($03) Variables > Selector-Colors                                                 */
/*===================================================================================*/


/*===================================================================================*/
/* ($04) Variables > Menu                                                            */
/*===================================================================================*/


/*===================================================================================*/
/* ($05) Variables > Form-Colors                                                     */
/*===================================================================================*/


/*===================================================================================*/
/* ($06) Variables > Font-Colors                                                     */
/*===================================================================================*/


/*===================================================================================*/
/* ($07) Variables > Shadows                                                         */
/*===================================================================================*/


/*===================================================================================*/
/* ($08) Variables > Font-Sizes                                                      */
/*===================================================================================*/

$font-size-default: 12pt;
$font-size-portable: 14pt;

