###############################
###############################
##    Apache Server Config   ##
##        KEEP ORDERED       ##
###############################
###############################

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f

###############################
#         URL Rewrites        #
###############################

RewriteRule ^laender/kontinent/([a-zA-Z0-9-]+)/?$ laender.php?continent=$1 [NC,QSA,L]
RewriteRule ^laender/regionen/([a-zA-Z0-9-]+)/?$ laender.php?region=$1 [NC,QSA,L]

RewriteRule ^kronkorken/alle/([a-zA-Z0-9-]+)/?$ kronkorken.php?all&collection&letter=$1 [NC,QSA,L]
RewriteRule ^kronkorken/alle kronkorken.php?all&collection [NC,QSA,L]

RewriteRule ^kronkorken/([a-zA-Z0-9-]+)/?$ kronkorken.php?country=$1 [NC,QSA,L]
RewriteRule ^kronkorken/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$/?$ kronkorken.php?country=$1&region=$2 [NC,QSA,L]

RewriteRule ^kronkorken/sammlung/([a-zA-Z0-9-]+)/sortiert/([a-zA-Z0-9-]+)/?$/?$ kronkorken.php?country=$1&letter=$2&sortbyletter&collection [NC,QSA,L]
RewriteRule ^kronkorken/sammlung/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/sortiert/([a-zA-Z0-9-]+)/?$/?$/?$ kronkorken.php?country=$1&region=$2&letter=$3&sortbyletter&collection [NC,QSA,L]
RewriteRule ^kronkorken/sammlung/([a-zA-Z0-9-]+)/brauerei/([a-zA-Z0-9-]+)/?$/?$ kronkorken.php?country=$1&brewery=$2&sortbybrewery&collection [NC,QSA,L]
RewriteRule ^kronkorken/sammlung/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/brauerei/([a-zA-Z0-9-]+)/?$/?$/?$ kronkorken.php?country=$1&region=$2&brewery=$3sortbybrewery&collection [NC,QSA,L]

RewriteRule ^sets/([a-zA-Z0-9-]+)/?$ sets.php?country=$1 [NC,QSA,L]
RewriteRule ^sets/([a-zA-Z0-9-]+)/([a-zA-Z0-9-]+)/?$/?$ sets.php?country=$1&set=$2 [NC,QSA,L]

#Ignore .php-Extension
RewriteRule ^([^\.]+)$ $1.php [NC,L]

###############################
#    Forbidden Directories    #
###############################
RewriteRule (^|/)backup(/|$) - [F]
RewriteRule (^|/)sass(/|$) - [F]
RewriteRule (^|/)lib(/|$) - [F]

###############################
#       Error Ducuments       #
###############################
# ERROR 400: Bad Request
ErrorDocument 400 /400.php

# ERROR 401: Unauthorised
ErrorDocument 401 /401.php

# ERROR 403: Forbidden
ErrorDocument 403 /403.php

# Error 404: Not Found
ErrorDocument 404 /404.php

# Error 500: Internal Server Error
ErrorDocument 500 /500.php